<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.3.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">
		
	<bean id="st1" class="com.qedge.sep07.model.Student">
		<constructor-arg index="0" value="1"></constructor-arg>
		<constructor-arg index="1" value="Narendra"></constructor-arg>
		<constructor-arg index="2" value="Modi"></constructor-arg>
	</bean>
	
	<bean id="st2" class="com.qedge.sep07.model.Student">
		<constructor-arg index="0" value="2"></constructor-arg>
		<constructor-arg index="1" value="Amit"></constructor-arg>
		<constructor-arg index="2" value="Shah"></constructor-arg>
	</bean>
	
	<bean id="st3" class="com.qedge.sep07.model.Student">
		<property name="xyz" ref="st1"></property>
	</bean>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/common_data"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean> 
	
	<bean id="dao" class="com.qedge.sep07.dao.EmployeeDaoImpl" >
		<property name="dataSource" ref="dataSource"></property>
	</bean>

</beans>
